@model List<ExternalWebsite.Models.StebraEntity>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Archived News</h2>
    <p class="lead">Introducing our nostalgic archived news</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <h2>@item.Title</h2>
            <p><i>@item.Date @Html.Raw(item.Article)</i></p>
            <p>
                @Html.Raw(item.Body)
            </p>
        </div>
    }
</div>
