@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NewsFlash</h1>
    <p class="lead">Steaming fresh news from our dinner table... indulge!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Newstitle</h2>
        <p><i>2015-11-13, Article Article Article Article Article Article</i></p>
        <p>
            body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body 
        </p>
        <p><a class="btn btn-default" href="newsID">view entry &raquo;</a></p>
    </div>
</div>