body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#sideBar {

    
    position:absolute;
    top:100px; bottom:0; left:150px;
    width:250px;
    color:black;

}

.years {

    background-color:gray;
    width:120px;

}

#oneyearold {
display:none;
}

#twoyearsold {
display:none;
}